@import url("https://fonts.google.com/share?selection.family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900|Montserrat:ital,wght@0,100..900;1,100..900|Noto+Sans:ital,wght@0,100..900;1,100..900|Oswald:wght@200..700");

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --title-color: white;
    --title-font-size: 32px;
    --title-underline-color: #17C2EC;
    --body-font-family: "Montserrat", sans-serif;
    --link-color: white;
    --link-chosen-font-size: 24px;
    --link-font-size: 24px;
    --btn-background-color: #C4C4C41A;
    --btn-text-color: #17C2EC;
    --btn-font-size: 24px;
    --header-hero-title-color: #17C2EC;
    --header-hero-title-font-size: 48px;
    --header-hero-subtitle-color: white;
    --header-hero-special-text: #17C2EC;
    --header-hero-description-font-size: 24px;
    --header-hero-description-text-color: white;
    --header-hero-btn-primary-bg-color: #17C2EC;
    --header-hero-btn-primary-text-color: white;
    --header-hero-btn-primary-font-size: 24px;
    --header-hero-btn-secondary-bg-color: #C4C4C40D;
    --header-hero-btn-secondary-font-size: 24px;
    --header-hero-btn-secondary-text-color: white;
    --header-hero-btn-secondary-border-color: #17C2EC;
    --header-hero-schedule-text-color: white;
    --header-hero-schedule-font-size: 24px;
    --header-hero-schedule-subtext: white;
    --header-hero-schedule-bg-color: #C4C4C40D;
    --header-hero-schedule-btn-bg-color: #17C2EC;
    --header-hero-schedule-btn-text-color: white;
    --header-hero-schedule-btn-font-size: 24px;
    --header-hero-bg-image-color: #17C2EC;
    --header-hero-bg-image-container: white;
    --header-hero-bottom-side-bg-color: #C4C4C433;
    --header-hero-bottom-side-font-size: 24px;
    --header-hero-bottom-side-color-text: white;
    --header-hero-bottom-side-special-text: #17C2EC;
    --header-hero-checkpoint-bg-color: rgba(255, 255, 255, 0.9);
    --checker-upper-bg-color: #C4C4C40D;
    --checker-text-color: white;
    --checker-font-size: 24px;
    --checker-bottom-bg-color: #C4C4C41A;
    --checker-bottom-input-name-border: #17C2EC;
    --checker-bottom-input-name-text-color: white;
    --checker-bottom-input-name-bg-color: none;
    --checker-bottom-input-number-bg-color: none;
    --checker-bottom-input-number-text-color: white;
    --checker-bottom-input-number-border: #C4C4C426;
    --checker-bottom-btn-text-color: #17C2EC;
    --checker-bottom-btn-bg-color: #C4C4C41A;
    --checker-bottom-btn-border: #17C2EC;
    --checker-bottom-info-bg-color: #C4C4C40D;
    --checker-bottom-info-text-color: #17C2EC;
    --checker-bottom-info-special-text-color: #17C2EC;
    --vaccination-text-color: white;
    --vaccination-text-font-size: 48px;
    --vaccination-subtext-color: white;
    --vaccination-subtext-font-size: 20px;
    --vaccination-bottom-bg-color: #C4C4C433;
    --vaccination-bottom-text-color: #17C2EC;
    --vaccination-bottom-subtext-color: white;
    --vaccination-bottom-link-color: #17C2EC;
    --vaccination-bottom-text-font-size: 24px;
    --vaccination-bottom-subtext-font-size: 16px;
    --vaccination-bottom-link-font-size: 18px;
    --vaccination-bottom-frame-border: #FFFFFF80;
    --vaccination-bottom-frame-text-color: white;
    --vaccination-bottom-frame-text-font-size: 24px;
    --vaccination-bottom-frame-lnik-color: #FFFFFF80;
    --register-bg-color: white;
    --register-left-side-text-font-size: 48px;
    --register-left-side-name-font-size: 24px;
    --register-left-side-input-bg-color: #0B153C26;
    --register-left-side-second-text-font-size: 24px;
    --register-left-side-subtext-font-size: 20px;
    --register-left-side-subtext-color: #00000080;
    --register-left-side-btn-bg-color: #17C2EC;
    --register-left-side-btn-text-color: white;
    --register-left-side-container-bg-color: #d9e2e8;
    --regitster-left-side-btn-submit-bg-color: #17C2EC;
    --regitster-left-side-btn-submit-text-color: white;
    --register-verify-bg-color: #0B153C;
    --register-verify-title-color: white;
    --register-verify-btn-bg-color: #C4C4C440;
    --register-verify-btn-text-color: white;
    --register-bottom-side-text-color: #00000080;
    --register-bottom-side-text-font-size: 20px;
    --register-bottom-side-link-color: #17C2EC;
    --register-bottom-side-link-font-size: 20px;
    --prevention-title-text-color: white;
    --prevention-title-font-size: 24px;
    --prevention-text-color: white;
    --prevention-special-text-color: #17C2EC;
    --prevention-text-font-size: 48px;
    --prevention-subtext-color: #FFFFFF80;
    --prevention-subtext-font-size: 20px;
    --prevention-reason-global-bg-color: #C4C4C433;
    --prevention-reason-global-text-color: #17C2EC;
    --prevention-reason-global-text-font-size: 20px;
    --feedback-bg-color: white;
    --feedback-title-color: #17C2EC;
    --feedback-title-font-size: 24px;
    --feedback-subtitle-color: black;
    --feedback-subtitle-font-size: 48px;
    --feedback-text-color: #00000080;
    --feeback-text-font-size: 24px;
    --feedback-list-bg-color: #C4C4C480;
    --feedback-list-special-bg-color: #17C2EC;
    --feedback__list-item-special-text-color: #17C2EC;
    --feedback-list-name-color: black;
    --feedback-list-name-font-size: 24px;
    --feedback-list-city-color: #00000080;
    --feedback-list-city-font-size: 14px;
    --feedback-list-text-color: #00000099;
    --feedback-list-text-font-size: 18px;
    --feedback-list-item-new-text-color: white;
    --feedback-list-item-new-name-color: white;
    --feedback-list-item-new-city-color: white;
    --feedback-quero-bg-color: #17C2EC;
    --feedback__queto-title-color: white;
    --feedback-quero-container-bg-color: #0B153C;
    --feedback__queto-title-font-size: 48px;
    --feedback__queto-subtitle-color: white;
}


body {
    background-image: url("/img/bg/header-bg.jpg");
    background-size: cover;
    font-family: var(--body-font-family);
}