@import url(https://fonts.google.com/share?selection.family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900|Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900|Montserrat:ital,wght@0,100..900;1,100..900|Noto+Sans:ital,wght@0,100..900;1,100..900|Oswald:wght@200..700);

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-color-title: black;
    --header-background-color: rgba(42, 40, 44, 0.3);
    --index-login-part-background-color: rgba(42, 40, 44, 0.3);
    --index-search-input-background-color: rgba(83, 124, 172, 0.3);
    --index-search-input-alternative-background-color: rgba(75, 138, 213, 0.3);
    --index-login-part-global-hover-background-color: rgba(62, 21, 115, 0.3);
    --index-login-part-global-background-color: rgba(68, 59, 78, 0.3);
    --index-login-part-alternative-global-background-color: rgba(166, 165, 165, 0.3);
    --index-login-part-logout-background-color: rgba(42, 40, 44, 0.3);
    --global-nav-background-color: white;
    --global-nav-list-item-background-color: rgba(52, 80, 108, 0.3);
    --global-nav-list-item-hover-color: rgba(83, 124, 172, 0.3);
    --people-border-color-dark: black;
    --people-border-color-light: white;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--index-login-part-background-color);
    display: flex;
    min-height: 100vh;
}



.page__container {
    display: none;
}

.body__hidden {
    background-color: var(--index-login-part-logout-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.topBar{
    display: flex;
    gap: 10px;
    padding-top: 25px;
}

.search__input {
    padding: 10px 1000px 10px 10px;
    margin: 5px 0 0 100px;
    background-color: var(--index-search-input-background-color);
    border: none;
    border-radius: 15px;

    &:hover {
        background-color: var(--index-login-part-global-hover-background-color);
    }
}

.switcher {
    border: 1px solid black;
    padding: 0 15px;
    border-radius: 15px;
    background-color: black;
    cursor: pointer;
    color: white ;
}

.body__show {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
    min-height: 100vh;
    background-color: var(--index-login-part-alternative-global-background-color);
}

.page__container:first-of-type {
    display: block;
}

header,
main,
footer {
    display: none;
}

