.register {
    background-color: var(--register-bg-color);
    padding: 30px 0 0 200px;
    display: flex;
    gap: 22%;

    .register__left-side {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .register__left-side-text {
            font-size: var(--register-left-side-text-font-size);
            font-weight: bold;
        }

        .register__left-side-name {
            font-size: var(--register-left-side-name-font-size);
            font-weight: bold;
        }

        .register__left-side-input {
            padding: 15px 120px 15px 20px;
            width: 500px;
            border-radius: 10px;
            background-color: var(--register-left-side-input-bg-color);
            border: none;
        }

        .register__bottom {
            display: flex;
            gap: 50px;
            justify-content: center;
            padding-bottom: 25px;

            .register__bottom-text {
                color: var(--register-bottom-side-text-color);
                font-size: var(--register-bottom-side-text-font-size);
                font-weight: bold;
            }

            .register__bottom-link {
                text-decoration: none;
                color: var(--register-bottom-side-link-color);
                font-weight: bold;
                font-size: var(--register-bottom-side-link-font-size);
            }
        }


        .register__left-side-left {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .register__left-side-second-text {
                font-size: var(--register-left-side-second-text-font-size);
                font-weight: bold;
            }

            .register__left-side-subtext {
                font-size: var(--register-left-side-subtext-font-size);
                color: var(--register-left-side-subtext-color);
            }

            .register__left-side-container {
                display: flex;
                align-items: center;
                background: var(--register-left-side-container-bg-color);
                border-radius: 15px;
                padding: 10px 15px;
                width: 500px;
                max-height: 50px;

                .register__left-side-container-flag {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                }

                .divider {
                    flex-shrink: 0;
                    width: 2px;
                    height: 29px;
                    background: rgba(0, 0, 0, 0.2);
                    margin: 0 10px;
                }

                .register__left-side-container-input {
                    border: none;
                    background: none;
                }

                .register__left-side-button {
                    background-color: var(--register-left-side-btn-bg-color);
                    border: none;
                    cursor: pointer;
                    font-weight: bold;
                    padding: 17px 50px;
                    margin-left: 300px;
                    border-radius: 20px;
                    color: var(--register-left-side-btn-text-color);
                }


            }

            .register__left-side-btn-submit {
                width: 670px;
                padding: 20px 70px;
                background-color: var(--regitster-left-side-btn-submit-bg-color);
                border: none;
                border-radius: 25px;
                color: var(--regitster-left-side-btn-submit-text-color);
                font-weight: bold;
            }
        }

    }

    .register__verify {
        background-color: var(--register-verify-bg-color);
        background-image: url("/img/register/verify/bg-verify.png");
        background-repeat: no-repeat;
        border-radius: 25px;
        height: 460px;
        width: 380px;
        object-fit: cover;

        .register__verify-container {
            display: flex;
            flex-direction: column;
            height: 100%;

            .register__verify-container-left {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin-left: -50px;
                margin-top: -25px;

                .register__verify-container-img {
                    width: 98px;
                }
            }

            .register__verify-container-center {
                display: flex;
                align-items: center;
                justify-content: center;

                .register__verify-container-title {
                    color: var(--register-verify-title-color);
                    font-weight: bold;
                }
            }

            .register__verify-container-status {
                background-color: var(--register-verify-btn-bg-color);
                color: var(--register-verify-btn-text-color);
                font-weight: bold;
                margin-top: 60%;
                width: 250px;
                height: 50px;
                place-self: center;
                border-radius: 15px;
                border: none;
            }
        }

    }

    @media (max-width: 768px) {
        flex-direction: column;
        padding: 20px;
        gap: 40px;

        .register__left-side-input,
        .register__left-side-container,
        .register__left-side-btn-submit {
            width: 100%;
            max-width: 100%;
        }

        .register__left-side-button {
            margin-left: auto;
            padding: 12px 20px;
        }

        .register__verify {
            width: 50%;
            max-width: 300px;
            height: auto;
            place-self: center;
        }

        .register__verify-container {
            padding-bottom: 50px;
        }
    }

    @media (max-width: 480px) {
        flex-direction: column;
        padding: 20px;
        gap: 40px;

        .register__left-side-container {
            max-width: 300px;
            width: 100%;

        }

        .register__left-side-button {
            margin-left: 50px !important;
            padding: 17px 20px !important;
        }

        .register__verify {
            width: 50%;
            max-width: 300px;
            height: auto;
            place-self: center;
        }

        .register__verify-container {
            padding-bottom: 50px;
        }

        .register__verify-container-status {
            max-width: 50%;
            width: 50%;
        }
    }
}

