<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>
    <link rel="stylesheet" href="../css/index.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>

<header>
    <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.nav.partial.html"></nav>
    <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.header-hero.partial.html"></div>
</header>

<main>
    <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.checker.partial.html"></div>
    <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.vaccination.partial.html"></div>
    <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.register.partial.html"></div>

</main>


</body>
</html>